mixin reviewsSlider(reviews)
  script(type="text/x-template")#reviews-list
    .reviews__slider-wrapper

      flickity(ref='flickity', :options='flickityOptions').reviews__slider
        each review in reviews
          .reviews__slider-item
            .reviews__quote
              .reviews__quote-icon
                .reviews__qicon(
                  style=`background-image: url(${require('../images/icons/quote.svg')})`  
                )
              .reviews__text= review.text
            .reviews__person
              .reviews__person-pic
                .reviews__img(
                  style=`background-image: url(${require(`../images/content/${review.personpic}`)})`  
                )
              .reviews__person-info
                .reviews__person-name= review.personname
                .reviews__person-job= review.personjob

      .reviews__buttons 
          button(@click="next()").reviews__button
            +icon('arrow-down', 'arrows arrows_left')
          button(@click="previous()").reviews__button
            +icon('arrow-down', 'arrows arrows_right') 

